[Desktop Entry]
Type=Application
Name=Snipux
Comment=A Windows Snipping Tool workalike for Linux
Exec=__SNIPUX_LAUNCHER__
Icon=snipux
Categories=Graphics;Utility;
Terminal=false
